.container{
  position: relative;
  padding-inline: 4%;
  text-align: start;
  margin-bottom: var(--margin-medium);
  margin-top: var(--margin-medium);
}

.title{
  font-size: var(--sub-title-font-size);
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: var(--margin-soft);
}

.information{
  color: var(--second-text-color);
  margin: var(--margin-very-soft) 0;
}

.description{
  margin: var(--margin-soft) 0;
}

.marker{
  position: absolute;
  width: var(--sub-title-font-size);
  height: var(--sub-title-font-size);
  border-radius: 50%;
  background-color: var(--second-text-color);
  top: var(--margin-very-soft);
  left: var(--marker-position-top);
}

