

.container{
  background-color: var(--second-bg-color);
  padding: 2%;
  color: var(--title-color);
  display: grid;
  grid-template: repeat(2, 10vh) / repeat(4, 1fr);
  grid-template-areas:
    "image title title title"
    "image title title title";
  text-align: center;
}

.title{
  grid-column: 2 / 5;
  align-self: end;
  color: var(--title-color);
  font-size: 3.3em;
  letter-spacing: var(--letter-spacing-very-hard);
  font-weight: 400;
  margin: 0;
}

.sub_title{
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-soft);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-size: var(--sub-title-font-size);
  letter-spacing: var(--letter-spacing-medium);
  font-weight: 200;
}

.img_profile{
  grid-area: image;
  object-fit: cover;
  place-self: end;
  align-self: stretch;
}
