<div class="container">
    <h1 class="title">Nuevo Curso</h1>
    <form action="submit" class="new-course">
        <label for="" class="label">Titulo del curso</label>
        <input type="text" name="" id="title" ngClass="input">
        <label for="" class="label">Descripcion</label>
        <input type="text" name="" id="description" ngClass="input">
        <label for="" class="label">Duracion</label>
        <input type="number" name="" id="duration" ngClass="input">
        <label for="" class="label">Fecha de Inicio</label>
        <input type="date" name="" id="" ngClass="input">
        <label for="" class="label">Fecha de Finalizacion</label>
        <input type="datetime" name="" id="" ngClass="input">
        <label for="" class="label">Realizado en</label>
        <input type="text" name="" id="establishment" ngClass="input">
        <label for="" class="label">Categorias</label>
        <input type="checkbox" name="" id="category" ngClass="input">
    </form>
</div>
