/* You can add global styles to this file, and also import other style files */
:root{
  /*COLORS*/
  --main-bg-color: #E6E4DB;
  --second-bg-color: #0E1623;
  --main-text-color: #3A3839;
  --title-color: #E6E4DB;
  --second-text-color: #997859;
  --very-hard:32px;
  --hard:16px;
  --medium:12px;
  --soft:8px;
  --very-soft:4px;

  /*FONT SIZE & WEIGHT*/
  --title-font-size:1.8em;
  --title-font-weight:400;
  --sub-title-font-size:1.2em;
  --sub-title-font-weight:300;


  /*MARGINS*/
  --margin-very-hard: var(--very-hard);
  --margin-hard: var(--hard);
  --margin-medium: var(--medium);
  --margin-soft: var(--soft);
  --margin-very-soft: var(--very-soft);

  /*PADDING*/
  --padding-very-hard: var(--very-hard);
  --padding-hard: var(--hard);
  --padding-medium: var(--medium);
  --padding-soft: var(--soft);
  --padding-very-soft: var(--very-soft);

  /*LETTER SPACING*/
  --letter-spacing-very-hard: var(--medium);
  --letter-spacing-hard: var(--very-soft);
  --letter-spacing-medium:2.5px;
  --letter-spacing-soft:1.5px;

  /*MARKER*/
  --marker-position-top: -0.75em;

  @media (max-width: 480px) {
    --very-hard: calc(32px / 2);
    --hard: calc(16px / 2);
    --medium: calc(12px / 2);
    --soft: calc(8px / 2);
    --very-soft: calc(4px / 2);
  }
  @media (max-width: 768px) {
    --very-hard: calc(32px - 8);
    --hard: calc(16px - 8);
    --medium: calc(12px - 8);
    --soft: calc(8px - 4);
    --very-soft: calc(4px - 2);
  }
  @media (max-width: 992px) {
    --very-hard: calc(32px - 4);
    --hard: calc(16px - 4);
    --medium: calc(12px - 4);
    --soft: calc(8px - 4);
    --very-soft: calc(4px - 2);
  }
  @media (max-width: 1200px) {
    /*pc*/
  }

}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #E6E4DB;
}
