/* You can add global styles to this file, and also import other style files */
:root{

  /*COLORS*/
  --main-bg-color: #E6E4DB;
  --second-bg-color: #0E1623;
  --main-text-color: #3A3839;
  --title-color: #E6E4DB;
  --second-text-color: #997859;

  /*FONT SIZE & WEIGHT*/
  --title-font-size:1.8em;
  --title-font-weight:400;
  --sub-title-font-size:1.2em;
  --sub-title-font-weight:300;
  /*MARGINS*/
  --margin-very-hard: var(--very-hard);
  --margin-hard: var(--hard);
  --margin-medium: var(--medium);
  --margin-soft: var(--soft);
  --margin-very-soft: var(--very-soft);

  /*PADDING*/
  --padding-very-hard: var(--very-hard);
  --padding-hard: var(--hard);
  --padding-medium: var(--medium);
  --padding-soft: var(--soft);
  --padding-very-soft: var(--very-soft);

  /*LETTER SPACING*/
  --letter-spacing-very-hard: var(--medium);
  --letter-spacing-hard: var(--very-soft);
  --letter-spacing-medium:2.5px;
  --letter-spacing-soft:1.5px;

  /*MARKER*/
  --marker-position-top: -0.75em;

  /*MEDIA QUERY*/
  

  @media screen and (min-width: 768px) {
    --very-hard: 24px;
    --hard: 12px;
    --medium: 8px;
    --soft: 4px;
    --very-soft: 2px;
  }

  @media screen and (min-width: 992px) {
    --very-hard: 28px;
    --hard: 12px;
    --medium: 8px;
    --soft: 4px;
    --very-soft: 2px;
  }
  @media screen and (max-width: 1200px) {
    --very-hard:32px;
    --hard:16px;
    --medium:12px;
    --soft:8px;
    --very-soft:4px;
  }

}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #E6E4DB;
}

@media screen and (min-width: 480px) {
  :root{
    --very-hard: 16px;
    --hard: 8px;
    --medium: 6px;
    --soft: 4px;
    --very-soft: 2px;
  }
}

@media screen and (min-width: 768px) {
  :root{
    --very-hard: 24px;
    --hard: 12px;
    --medium: 8px;
    --soft: 4px;
    --very-soft: 2px;
  }

  @media screen and (min-width: 992px) {
    :root{
      --very-hard: 28px;
      --hard: 12px;
      --medium: 8px;
      --soft: 4px;
      --very-soft: 2px;
    }
  }

  @media screen and (min-width: 1200px) {
    :root{
      --very-hard:32px;
      --hard: 16px;
      --medium: 12px;
      --soft: 8px;
      --very-soft: 4px;
    }
  }

}